<ul class="posts">
    {% for question in questions %}
    <li class="post">
      <p>
            <a href="{{ url_for('.question', id=question.id) }}" >
	       <h4 > {{ question.title }} </h4>
            </a>
      </p>	    
      <a href="{{url_for('.user', username=question.author.username)}}" >
	<font color=black >
	  <B>
	    {{ question.author.username }}
	    {% if question.author.about_me %}
	    , {{ question.author.about_me }}
	    {% endif %}
	    </B>
	  </font>
      </a>	    
           <div class="post-body">{{ question.body }}</div>
    </li>
    {% endfor %}
</ul>
