{% extends "base.html" %}
<!-- {% import "_macrosForHomePage.html" as macros %} -->

{% block title %} {{ super()}} &nbsp; &nbsp {{  user.username }}{% endblock %}

{% block page_content %}

<div class="page-header">
        <h1>{{ user.username }}</h1>
        <p>
          {% if user.about_me %}{{ user.about_me }}{% endif %}	  
        </p>
<!--	<p>
	  <div>
            <img class="img-rounded profile-thumbnail" src="{{ user.gravatar() }}">
	  </div>
	</p>
-->	<div>


     获得&nbsp; &nbsp <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> &nbsp 赞同
      &nbsp <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> &nbsp 感谢
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
       {% if current_user.can(Permission.FOLLOW) and user != current_user %}
     
         {% if not current_user.is_following(user) %}
           <a href="{{ url_for('.follow', username=user.username) }}" class="text-right">
              Follow</a>
         {% else %}
           <a href="{{ url_for('.unfollow', username=user.username)}}" class="text-right">
              Unfollow</a>
         {% endif %}
      {% endif %}

	</div>

	<ul class="nav nav-pills" role="tablist" >
	    <li role="presentation" class="active">
	      <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
	        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
	      </a>
	    </li>
	    <li role="presentation">
	       <a href="#asktab" aria-controls="asktab" role="tab" data-toggle="tab">
	         {{ user.questions.count() }} 提问
	       </a>
	    </li>
	    <li role="presentation">
	       <a href="#answertab" aria-controls="answertab" role="tab" data-toggle="tab">
	         {{ user.answers.count()}} 回答
	       </a>
	    </li>
	    <!--
	    <li role="presentation">
	       <a href="#article" aria-controls="article" role="tab" data-toggle="tab">
	         专栏文章
	       </a>
	    </li>
	    <li role="presentation">
	       <a href="#collection" aria-controls="collection" role="tab" data-toggle="tab">
	         收藏
	       </a>
	    </li>
	    <li role="presentation">
	       <a href="#editpublic" aria-controls="editpublic" role="tab" data-toggle="tab">
	         公共编辑
	       </a>
	    </li>
	    -->
	</ul>
</div>
{% endblock %}

{% block user_miscells  %}
       <div class="tab-content">
	 <div role="tabpanel" class="tab-pane active" id="home">
		     我的提问
	       <ul>
		 {% for question in questions[0:4] %}
  	           <li >
                     <a href="{{ url_for('.question', id=question.id) }}">
	               <h4> {{ question.title }} </h4>
                     </a>
                      {{ question.body }}
	           </li>						 
    	           {% endfor %}
               </ul>
	       <hr></hr>
	       我的回答
	       <ul>
		 {% for answer in answers[0:4] %}
  	           <li >
                     <a href="{{ url_for('.answer', id=answer.id) }}">
	               <h4> {{ answer.authorname }} </h4>
                     </a>
                      {{ answer.answer }}
	           </li>						 
    	           {% endfor %}
               </ul>
	 </div>
	 <div role="tabpanel" class="tab-pane" id="asktab">
	   {% include '_questions.html' %}
  	    {% if askpagination %}
	      {{ macros.pagination_widget(askpagination, '.user', user.username) }}
	    {% endif %}
	  </div>	  
	 <div role="tabpanel" class="tab-pane" id="answertab">
	   {% include '_answers.html' %}
  	    {% if anspagination %}
	      {{ macros.pagination_widget(anspagination, '.user', user.username) }}
	    {% endif %}
	 </div>	  
	  <div role="tabpanel" class="tab-pane" id="article">article</div>
	  <div role="tabpanel" class="tab-pane" id="collection">collection</div>
	  <div role="tabpanel" class="tab-pane" id="editpublic">editpublic</div>
	 </div>
{% endblock  %}
       
{% block rside_bar   %}

       <br></br><br></br>
       <div>
       <p> <b>
	     关注了 &nbsp; &nbsp; &nbsp; &nbsp;
	     关注者
	     </b>
       </p>
       <p>
	 {{ user.followed.count() }} 个人 &nbsp; &nbsp; &nbsp; &nbsp;
         {{ user.follower.count() }} 个人
</p>
</div>
{% endblock  %}
